/* style.css for hw2- come back to optimize */
body {
    font-family: 'Times New Roman', sans-serif;
    background: #000000;
    color: #ffffff;
}

h1 {
    font-size: 64px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p {
    font-size: 24px;
    padding-top: 15px;
}

img { /* unsure about this; office hours */
    display: block;
    margin: auto;
    width: 550px;
}


#red {
    background: #ff0000;
    text-align: right;
    height: 150px;
    padding: 25px;
}

#blue {
    background: #0000ff;
    text-align: left;
    height: 150px;
    padding: 25px;
}

div {
    height: 150px;
    padding: 25px;
}
#yellow { /* can probably optimize; come back to this */
    background: #ffff00;
    text-align: right;
    color: #000000;
    text-shadow: 4px 4px 2px #C7E2C7;
}

div.green {
    background: #008000;
    text-align: left;
}

footer p {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
}
